* {
    outline: solid red 1px;
}

main {
    height: calc(100vh - 70px - 20px);
    margin-top: 70px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

/* Left Side */
.container1 {
    display: flex;
    flex: auto;
    flex-direction: column;
    padding: 30px 0 0 30px;
}

.view-msg {
    font-size: 80px;
}

.dropdown {
    display: block;
    position: relative;
}

.dropdown {
    position: absolute;
}

/* Right Side */
.container2 {
    display: flex;
    flex: 3;
    border: solid;
}